// screen
$browser-context: 16;
$screen-width: 1920;
$screen-height: 980;
 
//colors
$main-color: #00a0af;
$light-color: #FFFFFF;
$gray-color: #737577;
$text-color: #737577;
$dark-color: #000000;

 //fonts
$normal-font: 'OpenSans-Regular', sans-serif;